<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
				<property name="" value="" />
			</transactionManager>
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/test" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>
 	-->

	<mappers>
		<package name="com.roadom.mybatisWithSpring.dao"/>
	</mappers>
	
	<!-- 这四种注册Mapper的方式就是我想在这篇文章中表达的。总结一下：
Xml代码  收藏代码
<mappers>  
   通过package元素将会把指定包下面的所有Mapper接口进行注册  
   <package name="com.tiantian.mybatis.mapperinterface"/>  
   通过mapper元素的resource属性可以指定一个相对于类路径的Mapper.xml文件  
   <mapper resource="com/tiantian/mybatis/mapper/UserMapper.xml"/>  
   通过mapper元素的url属性可以指定一个通过URL请求道的Mapper.xml文件  
   <mapper url="file:///E:/UserMapper.xml"/>  
   通过mapper元素的class属性可以指定一个Mapper接口进行注册  
   <mapper class="com.tiantian.mybatis.mapperinterface.UserMapper"/>   -->
</mappers>  
	
	
</configuration>